.entry-content.clear {
  padding: 0 20px;
}

.formidable-rss-parser-container-shortcode {
  width: 100%;
  max-width: 600px;
  padding-bottom: 24px;
}

.formidable-rss-parser-container-shortcode label .title {
  line-height: 140%;
  margin-bottom: 12px;
}

.formidable-rss-parser-container-shortcode label .search-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer {
  display: flex;
  padding: 0 12px;
  height: 42px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-radius: 7.2px;
  border: 1px solid #e7e7e7;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer:focus-within {
  border-color: #0274be;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .formidable-rss-parser {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: #666;
  line-height: 100%;
  background: white;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .clear-input {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: -6px;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 100%;
  background: rgba(82, 77, 77, 0.1);
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .clear-input svg {
  padding: 6px;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .clear-input svg path {
  fill: #524d4d;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .clear-input:hover {
  background: #524d4d;
}

.formidable-rss-parser-container-shortcode label .search-container .input-outer .clear-input:hover path {
  fill: white;
}

.formidable-rss-parser-container-shortcode label .search-container button.search-show {
  width: 100%;
  height: 42px;
  margin-top: 12px;
  border-radius: 7.2px;
  background: #0274be;
}

.formidable-rss-parser-container-shortcode label .search-container button.search-show:hover {
  background: #524d4d;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container {
  display: none;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes {
  margin-top: 12px;
  max-height: 288px;
  border-radius: 7.2px;
  box-sizing: content-box;
  border: 1px solid #e7e7e7;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show,
.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list {
  min-height: 96px;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  scroll-snap-align: start;
  box-shadow: 0 1px 0 0 #e7e7e7;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list *,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list * {
  cursor: pointer;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-image,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-image {
  width: 96px;
  height: 100%;
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-image img,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details {
  height: 100%;
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-title,
.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-sub-details,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-title,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-sub-details {
  font-size: 15px;
  line-height: 140%;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-title,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-title {
  font-weight: 500;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-sub-details,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-sub-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 13.2px;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-sub-details .element-separator,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-sub-details .element-separator {
  margin: 0 6px;
}

@media (max-width: 425px) {
  .formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-sub-details,
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-sub-details {
    flex-direction: column;
  }
  .formidable-rss-parser-container-shortcode .formidable-rss-result-show .element-list .element-details .element-sub-details .element-separator,
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .element-list .element-details .element-sub-details .element-separator {
    display: none;
  }
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list {
  box-shadow: -1px 0 0 0 #e7e7e7;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list {
  min-height: unset;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list .element-left,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list .element-left {
  display: flex;
  padding-left: 12px;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"],
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"] {
  width: 21px;
  height: 21px;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  position: relative;
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px #e7e7e7;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"], .formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"]::after,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"],
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"]::after {
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"]::after,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"]::after {
  content: url("../images/check.svg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  position: absolute;
  transform: scale(0.5);
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"]:hover,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"]:hover {
  box-shadow: inset 0 0 0 2px rgba(82, 77, 77, 0.5);
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"]:checked,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"]:checked {
  box-shadow: inset 0 0 0 10.5px #0274be;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-show .episodes-list .element-list [type="checkbox"]:checked::after,
.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes .episodes-list .element-list [type="checkbox"]:checked::after {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.15s;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: row;
  max-height: 192px;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episode-image {
  width: 100%;
  max-width: 192px;
  scroll-snap-align: start;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episodes-list {
  width: 100%;
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episodes-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 425px) {
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes {
    overflow: auto;
    max-height: 384px;
    flex-direction: column;
  }
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episode-image {
    width: 100%;
    height: 192px;
    max-width: unset;
    box-shadow: 0 1px 0 0 #e7e7e7;
  }
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episode-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .formidable-rss-result-episodes .episodes-list {
    display: contents;
  }
}

.formidable-rss-parser-container-shortcode .formidable-rss-result-episodes-container .import-episodes {
  width: 100%;
  height: 42px;
  margin-top: 12px;
  border-radius: 7.2px;
}
